header {
	background: #f2f2f2;
	padding: 10px;
	border: 1px solid #ccc;
}

nav{
	background: #f2f2f2;
	padding: 10px;
	border: 1px solid #ccc;
}

footer {
	background: #f2f2f2;
	padding: 10px;
	border: 1px solid #ccc;
}

article {
	background: yellow;
}

section {
	border: 1px dotted red; 
	padding: 10px;
}

aside {
	background: blue;

}