/*

.conteudo{
	border: 1px solid red;

	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding: 20px 15px 10px 5px; /*começa no top para left sentido horário
	padding: 20px; 
	
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin: 20px 15px 10px 5px; /*começa no top para left sentido horário	
	margin: 20px;

	width: 150px;
}

.conteudo2{
	margin: 20px;
	border: 1px solid red;
	width: 150px;

}

padding espaçamento interno do objeto: direita,esquerda, cima e baixo */
#noticia{
	background: #f9f9f9;
	padding: 10px;

}
h2{
	margin: 0px;
}